

<ion-content [fullscreen]="true">
  

<!-- <ion-button (click)="scanCode()">Escanear</ion-button> -->

<main class="gradient-background">
  <header class="header-productos" id="header">
    <a routerLink="/home"><img src="/assets/icon/back.svg"></a>
    <h1>Escaneo de productos</h1>
  </header>

  <section class="container-principal">
    <div class="container-registro card-glass">
      <ion-grid>
        <ion-row>
          <ion-col>Registro Escaner</ion-col>
        </ion-row>
        <ion-row>
          <ion-col>SKU</ion-col>
          <ion-col>Etiqueta</ion-col>
          <ion-col>Cantidad Rollos</ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <div (click)="scanCode()" class="container-escanear card-glass">
      <span>Presiona el botón para escanear con la cámara</span>
      <img src="/assets/icon/camera.svg" class="icon-img">
    </div>

  </section>
</main>

</ion-content>
