<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>QR</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">QR</ion-title>
    </ion-toolbar>
  </ion-header>


<!-- <ion-button (click)="scanCode()">Escanear</ion-button> -->
<div>
  <a routerLink="/home">Volver</a>
</div>

<div class="container-filter">
  <h1> Presiona el botón para activar la Camara</h1>
  <a (click)="scanCode()">escanear</a>
  
</div>
<div>
  <ion-grid>
    <ion-row>
      <ion-col>Registro Escaner</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>SKU</ion-col>
      <ion-col>Etiqueta</ion-col>
      <ion-col>Cantidad Rollos</ion-col>
    </ion-row>
  </ion-grid>
</div>
</ion-content>
