// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/

:root {
    --primary-color: #0b275d;
    --secondary-color: #eae121;
    --tertiary-color: #eef7f7;
}