<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Etimar SPA
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Etimar</ion-title>
    </ion-toolbar>
  </ion-header>
  <main>
    <section id="bar-container">
      <ul>
        <li>
          <a routerLink="/inventario">
            <img src="/assets/icon/inventory.svg"/>
            Inventario
          </a>
        </li>
        <li>
          <a routerLink="/productos">
          <img src="/assets/icon/items.svg"/>
          Productos
          </a>
        </li>
        <li>
          <a routerLink="/resumen-diario">
            <img src="/assets/icon/items.svg"/>
            Resumen Diario
          </a>
        </li>
      </ul>
    </section>
    <section id="container-principal">
      <h1>Mi inventario</h1>
      <p>La mejor aplicación para gestionar tu inventario de productos.</p>
      

      
      <a routerLink="/productos">Listado de Productos</a>
  
    </section>
    <button routerLink="/qr" id="btn-qr">+</button>
  </main>
</ion-content>
