

<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Etimar SPA
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <main class="gradient-background">
    <section id="bar-container">
      <ul>
        <li>
          <a (click)="mostrarComponente('uno'); setActivo('uno')" [ngClass]="{'active': activo === 'uno'}">
            <img src="/assets/icon/inventory.svg"/>
            Inventario
          </a>
        </li>
        <li>
          <a (click)="mostrarComponente('dos'); setActivo('dos')" [ngClass]="{'active': activo === 'dos'}">
            <img src="/assets/icon/items.svg"/>
            Productos
          </a>
        </li>
        <li>
          <a (click)="mostrarComponente('tres'); setActivo('tres')" [ngClass]="{'active': activo === 'tres'}">
            <img src="/assets/icon/items.svg"/>
            Resumen Diario
          </a>
        </li>
      </ul>
    </section>
    <section class="contenedor">
      <ng-template #contenedor></ng-template>
    </section>

    <button routerLink="/qr" id="btn-qr" class="icon-btn">
      <img src="/assets/icon/camera.svg" class="icon-img">
    </button>
  </main>
</ion-content>
