

<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Etimar SPA
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <main class="gradient-background">
    <section id="bar-container">
      <ul>
        <li>
          <a routerLink="/inventario">
            <img src="/assets/icon/inventory.svg"/>
            Inventario
          </a>
        </li>
        <li>
          <a routerLink="/productos">
            <img src="/assets/icon/items.svg"/>
            Productos
          </a>
        </li>
        <li>
          <a routerLink="/resumen-diario">
            <img src="/assets/icon/items.svg"/>
            Resumen Diario
          </a>
        </li>
      </ul>
    </section>
    <section id="container-principal">
    
    </section>

    <button (click)="toggleContenido()" id="btn-qr" class="icon-btn">
      <img src="assets/icon/add.svg"
          class="icon-img"
          [class.visible]="!mostrar"
          [class.hidden]="mostrar">
      <img src="assets/icon/remove.svg"
          class="icon-img"
          [class.visible]="mostrar"
          [class.hidden]="!mostrar">
    </button>

    <div [ngClass]="{ 'oculto': !mostrar, 'visible': mostrar }" class="dropdown-button">
      <a routerLink="/inventario" [ngClass]="{ 'oculto': !mostrar, 'visible': mostrar }">Ingreso manual</a>
      <a routerLink="/qr" [ngClass]="{ 'oculto': !mostrar, 'visible': mostrar }" >Ingreso con cámara</a>
    </div>
  </main>
</ion-content>
