<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Inventario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Inventario</ion-title>
    </ion-toolbar>
  </ion-header>

  <a routerLink="/home">Volver</a>

<ion-grid>
  <ion-row>
    <ion-col>SKU</ion-col>
    <ion-col>Etiqueta/Producto</ion-col>
    <ion-col>Rollos</ion-col>
    <ion-col>Rollos Totales</ion-col>
    <ion-col>Cajas Totales</ion-col>
    <ion-col>Edicion</ion-col>
  </ion-row>

  <ion-row>
    <ion-col>#########</ion-col>
    <ion-col>FFYVV</ion-col>
    <ion-col>5</ion-col>
    <ion-col>20</ion-col>
    <ion-col>4</ion-col>
    <ion-col>eliminar/editar</ion-col>
  </ion-row>
</ion-grid>

</ion-content>
